.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap:100px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #BFDFDF;
    padding: 10px;
    width:100%;
}

.grid-item {

    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.header{
    padding:10px;
    text-align:center;
    background: #33FF99;
    color: #0033FF;
    font-size:30px;
    width:100%;
}

.header1{
    padding:1px;
    text-align:center;
    background: #FFFFA8;
    color: #FF9900;
    font-size:30px;
    width: 100%;
}

footer {
            background-color: #f2f2f2;
            padding: 25px;
            width:100%;
        }